.ls-defaultskin {
}
.ls-defaultskin .ls-playvideo {
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
}
.ls-defaultskin .ls-playvideo, .ls-defaultskin .ls-nav-sides, .ls-defaultskin .ls-bottom-slidebuttons a, .ls-defaultskin .ls-nav-prev, .ls-defaultskin .ls-nav-next, .ls-defaultskin .ls-nav-start, .ls-defaultskin .ls-nav-stop {
    background-image: url("skin.png");
}
.ls-defaultskin .ls-playvideo {
    background-position: -300px -150px;
}
.ls-defaultskin .ls-playvideo:hover, .ls-defaultskin .ls-vpcontainer:hover .ls-playvideo {
    background-position: -375px -150px;
}
.ls-defaultskin .ls-nav-start {
    background-position: -300px 0;
}
.ls-defaultskin .ls-nav-start:hover, .ls-defaultskin .ls-nav-start-active {
    background-position: -300px -75px;
}
.ls-defaultskin .ls-nav-stop {
    background-position: -450px 0;
}
.ls-defaultskin .ls-nav-stop:hover, .ls-defaultskin .ls-nav-stop-active {
    background-position: -450px -75px;
}
.ls-defaultskin .ls-bottom-slidebuttons a {
    background-position: 0 -150px;
}
.ls-defaultskin .ls-bottom-slidebuttons a.ls-nav-active, .ls-defaultskin .ls-bottom-slidebuttons a:hover {
    background-position: -75px -150px;
}
.ls-defaultskin .ls-nav-sideleft {
    background-position: -150px -150px;
}
.ls-defaultskin .ls-nav-sideright {
    background-position: -225px -150px;
}
.ls-defaultskin .ls-nav-prev, .ls-defaultskin .ls-nav-next {
    background: url("arrow-prev-next.png") no-repeat scroll 0 0 rgba(130, 130, 130, 0.9);
    height: 50px;
    margin-top: -25px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 50px;
    z-index: 10000;
}
.ls-defaultskin .ls-nav-next {
    background-position: -85px 10px;
    right: 10px;
}
.ls-defaultskin .ls-nav-prev {
    background-position: 15px 10px;
    left: 10px;
}
.ls-defaultskin:hover .ls-nav-next, .ls-defaultskin:hover .ls-nav-prev {
    opacity: 0.5;
}
.ls-defaultskin:hover .ls-nav-next:hover, .ls-defaultskin:hover .ls-nav-prev:hover {
    opacity: 1 !important;
}
.ls-defaultskin .ls-bottom-slidebuttons, .ls-defaultskin .ls-bottom-slidebuttons a, .ls-defaultskin .ls-nav-start, .ls-defaultskin .ls-nav-stop, .ls-defaultskin .ls-nav-sides {
    height: 20px;
}
.ls-defaultskin .ls-bottom-slidebuttons, .ls-defaultskin .ls-bottom-slidebuttons a, .ls-defaultskin .ls-nav-start, .ls-defaultskin .ls-nav-stop, .ls-defaultskin .ls-nav-sides {
    display: inline-block;
}
.ls-defaultskin .ls-bottom-slidebuttons, .ls-defaultskin .ls-nav-start, .ls-defaultskin .ls-nav-stop, .ls-defaultskin .ls-nav-sides {
    top: -30px;
}
.ls-defaultskin .ls-nav-start, .ls-defaultskin .ls-nav-stop {
    width: 25px;
}
.ls-defaultskin .ls-bottom-slidebuttons a {
    width: 20px;
}
.ls-defaultskin .ls-nav-sides {
    width: 0;
}
.ls-defaultskin .ls-thumbnail-hover {
    bottom: 30px;
    margin-left: 1px;
    padding: 2px;
}
.ls-defaultskin .ls-thumbnail-hover-bg {
    background: none repeat scroll 0 0 #eee;
}
.ls-defaultskin .ls-thumbnail-hover span {
    border: 5px solid #eee;
    margin-left: -5px;
}
.ls-defaultskin .ls-thumbnail {
    top: 10px;
}
.ls-defaultskin .ls-thumbnail-inner {
    background: none repeat scroll 0 0 #fff;
    margin-left: -2px;
    padding: 2px;
}
.ls-defaultskin .ls-thumbnail-slide a {
    margin-right: 2px;
}
.ls-defaultskin .ls-nothumb {
    background: none repeat scroll 0 0 #eee;
}