<tr class="article_row droppable">
	<td><a href="#" onclick='editArticle(%%id%%);return false;'>%%title%%</a></td>
	<td>%%special_processing%%</td>
	<td>%%pages%%</td>
	<td>%%versions%%</td>
	<td><a href='#' onclick='copyItem(%%id%%);return false;' class='copyLink'>New Copy</a></td>
	<td><a href='#' onclick='editTemplate(%%id%%);' class='editLink'>Edit Layout</a></td>
	<td class="centered edit"><a href="#" onclick='editArticle(%%id%%);return false;'><i class='icon-edit'></i></a></td>
	<td class="centered delete"><a href="#" onclick='deleteArticle(%%j_id%%);return false;'><i class='icon-trash'></i></a></td>
</tr>