li.collapsed ol {
	display:none;
}

#contentTree ol {
	list-style:none inside;
}

#contentTree a.icon_page {
	
}

#contentTree a.icon_folder {
	
}

#leftContent {
	float:left;
}

#middleContent {
	float:left;
}

#rightContent {
	float:left;
}

.propertyEditing img,
.blogInfoTable img {
	max-width:150px;
	max-height:150px;
}

ol.draggable.level_1,
ul.draggable {
	border: 1px solid;
	padding:10px;
}

.blogDragger {
	display:none;
}
.blogDragger .id {
	display:none;
}
td.preview img,
td.preview {
	max-width:300px;
}