li.collapsed ol {
	display:none;
}

#contentTree ol {
	list-style:none inside;
}

#contentTree a.icon_page {
	
}

#contentTree a.icon_folder {
	
}

#leftContent {
	float:left;
}

#middleContent {
	float:left;
}

#rightContent {
	float:left;
}

.propertyEditing img,
.rssInfoTable img {
	max-width:150px;
	max-height:150px;
}

ol.draggable.level_1,
ul.draggable {
	border: 1px solid;
	padding:10px;
}

.rssDragger {
}
.rssDragger:hover {
	cursor:move;
}
.rssDragger .id {
	display:none;
}



.draggerClone {
	border: 1px solid #e0e0e0;
	padding:5px;
	background-color:#e0e0e0;
}

.draggerClone span {
	float:left;
	padding-right:5px;
}
